@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1536px;
    margin: 0 auto;
}

.conteiner-menu{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner-menu figure{
    display: none;
}

.conteiner-menu h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding-left: 7%;
}

.conteiner-menu ul{
    display: flex;
}

.conteiner-menu li{
    list-style-type: none;
}

.conteiner-menu a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: black;
    margin-right: 60px;
}

.conteiner-menu li{
    transition: 0.1s all;
}

.conteiner-menu li:hover{
    transform: scale(1.1);
}

.conteiner-blue{
    position: relative;
    background-image: url(/Images/Blue\ Orange.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85%;
    height: 646px;
}

.conteiner-blue h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    position: absolute;
    top: 310px;
    left: 8%;
    font-size: 3.7rem;
}

.conteiner-blue h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    position: absolute;
    top: 410px;
    left: 8%;
    font-size: 1.8rem;
}

.conteiner-pack-1,
.conteiner-pack-2,
.conteiner-pack-3{
    display: flex;
    justify-content: center;
}

.image1e2, .image3e4,
.image5e6, .image7e8,
.image9e10, .image11e12{
    display: flex;
}

.image1, .image2, .image3, .image4{
    display: flex;
    justify-content: center;
    width: 320px;
    height: 320px;
    object-fit: cover;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.1s all;
} 

.image5, .image6, .image7, .image8,
.image9, .image10, .image11, .image12{
    display: flex;
    justify-content: center;
    width: 320px;
    height: 320px;
    object-fit: cover;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s all;
}

.image1:hover, .image2:hover, .image3:hover, .image4:hover,
.image5:hover, .image6:hover, .image7:hover, .image8:hover,
.image9:hover, .image10:hover, .image11:hover, .image12:hover{
    transform: scale(1.1);
}
























@media (max-width: 807px){
    .conteiner-blue{
        object-position: center;
        
    }
}

@media (max-width: 819px){
    .conteiner-menu{
        justify-content: flex-start;
        height: 40px;
    }

    .conteiner-menu figure{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 33%;
    }

    .conteiner-menu img{
        height: 40px;
    }

    .conteiner-menu nav{
        display: none;
    }
}

@media (max-width: 1050px){
    .conteiner-blue h1{
        font-size: 3.2rem;
        width: 100px;
        top: 350px;
        left: 8%;
    }

    .conteiner-blue h3{
        font-size: 1.4rem;
        top: 580px;
        left: 8%;
    }
        
}

