@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1536px;
    margin: 0 auto;
}

/* HEADER */

.conteiner-menu{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner-menu figure{
    display: none;
}

.conteiner-menu h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding-left: 7%;
}

.conteiner-menu ul{
    display: flex;
}

.conteiner-menu li{
    list-style-type: none;
}

.conteiner-menu a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: black;
    margin-right: 60px;
}

.conteiner-menu a:hover{
    font-weight: 700;
}

/* MAIN */

.conteiner-blue{
    position: relative;
    background-image: url(/Images/Blue\ Orange.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85%;
    background-position-y: 30px;
    height: 646px;
}

.conteiner-blue h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    position: absolute;
    top: 310px;
    left: 8%;
    font-size: 3.7rem;
}

.conteiner-blue h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    position: absolute;
    top: 410px;
    left: 8%;
    font-size: 1.8rem;
}

.gallery figure{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-galery{
    width: 320px;
    height: 320px;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
    transition: 0.6s all;
}

.img-galery:hover{
    border-radius: 50px;
    transform: scale(1.1);
}

/* FOOTER */

footer{
    background-color: rgb(241, 241, 241);
}

.conteiner-footer{
    display: flex;
    align-items: center;
    margin-left: 42px;
    padding: 8px;
    width: 84%;  
}

.social-media a{
    text-decoration: none;
}

.social-media{
    width: 325px;
    margin-right: 1%;
}

.img-social{
    width: 50px;
    height: 40px;
    object-fit: contain;
    padding: 9px;
    transition: 0.1s all;
}

.img-social:hover{
    transform: scale(1.1);
}

.CopyRight{
    font-family: 'Montserrat', sans-serif;
    width: 325px;
    display: flex;
    font-size: 12px;
    margin-left: 8%;
}

.CopyRight p{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    width: 300px;
    margin-top: 2px;
    margin-left: 8%;
}

/* BUTTON SETTINGS */

.CopyRight button{
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: gray;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2px;
    border: none;
    color: gray;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: 0.1s all;
}

.CopyRight button:hover{
    transform: scale(1.1);
}

.CopyRight a{
    text-decoration: none;
    color: gray
}

/* RESPONSIVE @media*/

@media (max-width: 400px){
    .conteiner-footer{
        margin: 0 auto;
    }

    .social-media{
        background-color: #7FDBD4;
    }

    .CopyRight{
        height: 70px;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 12px;
    }

    .CopyRight p{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        width: 150px;
        margin-top: 3px;
        margin-left: 0;
    }

    .CopyRight button{
        display: flex;
        position: relative;
        left: 190px;
        bottom: 35px;
    }
}

@media (max-width: 643px){
    .img-brand{
        order: -12;
    }

    .img-media{
        order: -11;
    }

    .img-past{
        order: -10;
    }

    .img-site{
        order: -9;
    }

    .img-polaroid{
        order: -8;
    }

    .img-design{
        order: -7;
    }

    .img-mug{
        order: -6;
    }

    .img-bread{
        order: -5;
    }

    .img-mobile{
        order: -4;
    }

    .img-herb{
        order: -3;
    }

    .img-natfit{
        order: -2;
    }

    .img-coffee{
        order: -1;
    }
}

@media (max-width: 807px){
    .conteiner-blue{
        object-position: center;
    }
}

@media (max-width: 819px){
    .conteiner-menu{
        justify-content: flex-start;
        height: 40px;
    }

    .conteiner-menu figure{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 33%;
    }

    .conteiner-menu img{
        height: 40px;
    }

    .conteiner-menu nav{
        display: none;
    }
}

@media (max-width: 1006px){
    .conteiner-footer{
        flex-direction: column;
        justify-content: center;
    }

    .CopyRight{
        margin-left: 0;
    }
}

@media (max-width: 1050px){
    .conteiner-blue h1{
        font-size: 3.2rem;
        width: 100px;
        top: 350px;
        left: 8%;
    }

    .conteiner-blue h3{
        font-size: 1.4rem;
        top: 580px;
        left: 8%;
    }    
}